.learn-card{
    padding: 10px;
    position: relative;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
    width: 280px;
    height: 300px;
    background-color:#deecfa ;
}

.learn-item-card{
 width: 100%;
 position:relative;
 margin-top: 50px;
}


.card-heading-top {
    background-color: #100882;
    padding: 10px;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.card-heading-bottom {
    background-color: #100882;
    padding: 10px;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}